<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="vue.js"></script>
		<script type="text/javascript" src="axios.min.js"></script>
		<script type="text/javascript" src="const.js"></script>
		
	</head>
	<body>
		<div id="app">
			<input v-model="username" /><br />
			<input v-model="password" /><br />
			<input v-model="confirmPassword" />
			<button v-on:click="register">注册</button>
		</div>
	</body>
	<script type="text/javascript">
		//1,创建配置对象
		var config={
			el:"#app",
			data:{
				username:"请在这里输入用户名",
				password:"请输入密码",
				confirmPassword:"请输入确认密码"
			},
			methods:{
				register:function(){
					debugger;
					//window.alert("run");
					//判断密码是否一致
					if (this.password!=this.confirmPassword){
						//密码不一致
						window.alert("密码不一致");
						return;
					}
					//联网
					//1,设置联网服务器的地址
					var serverUrl=serverHost+"/user/register?username="
					+this.username+"&password="+this.password;
					//2,发请求
					axios.get(serverUrl)
					.then(function(res){
						//3,接收服务器返回的结果
						debugger;
						//从res中获取结果
						var result=res.data;
						window.alert(result);//在console中查看错误信息
					})
					.catch();
					
				}
			}
		}
		//2,启动vue
		var vue=new Vue(config);
	</script>
</html>
